h1{
    color:blue;
}
p{
    color:yellow;
    background-color: green;
}

h2{
    color:aquamarine;
}

h3{
    color:bisque;
}

h4{
    color:blueviolet;
}

#div {
    color:antiquewhite;
    background-color: aquamarine;
    
}
.span{
    color:brown;
    background-color: cadetblue;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}